/*

Your custom css

*/
.page-id-6 div.mk-main-wrapper-holder:first-child{
  display:none;
}
#fancy-title-2,#fancy-title-4{margin-bottom:0px;}
#home-top {
  background: #ffffff url("http://www.rushgas.com/wp-content/uploads/2016/05/FullSizeRender2.png") no-repeat scroll 110% bottom / 63% auto;
}

.my-tabs ul{ text-align:center; }

.my-tabs .mk-tabs-tabs li{ float:none !important; display:inline-block !important;}

.my-tabs ul li.mk-tabs-tab a {
    border: none !important;
    background: none !important;
    color:#ED1C24;
    text-align:center;
    padding: 10px 20px;
}
.my-tabs ul li.mk-tabs-tab a:hover i {
  color:#ED1C24 !important;
}
.my-tabs ul li.mk-tabs-tab a i{
    color:#ED1C24 !important;
    font-size:36px !important;
    display:block;
    margin-right:0px !important;
}

.my-tabs ul li.mk-tabs-tab {
  opacity: 0.5;
  padding-bottom: 20px;
  position: relative;
  top: 12px;
}
.my-tabs ul li.mk-tabs-tab:hover{
   opacity: 1;
}
.my-tabs ul li.is-active{
 opacity:1 !important;
}
 .my-tabs li.tab-with-icon:hover i svg{
  color: #ED1C24 !important;
}

.my-tabs div.mk-tabs-panes {
  border: none !important;
  min-height:170px;
}




.smsForm{
 float:left;
width:350px;
}
#phone {
    border: medium none;
    float: left;
    width: 208px;
    border:1px solid #ccc;
    height: 15px;
}
.btn-sms {
  background: #ed1c24 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  float: right;
  height: 37px;
  width: 116px;
  font-weight: 600;
  font-family:Lato;
}
.or {
  border-bottom: 1px solid;
  clear: both;
  text-align: center;
  width: 400px;
}
.or span {
  background: #fff none repeat scroll 0 0;
  color: #ed1c24;
  font-weight: 600;
  padding: 0 10px;
  position: relative;
  top: 11px;
}
.app{ margin-top:20px;}
.footer-logo{ max-width:300px !important; margin-left:-20px;}
#cmfooterm {
  margin-top: 30px !important;
  text-transform: uppercase;
}
.title-2 {
  color: #fff !important;
  font-family: Lato;
  font-size: 20px !important;
  font-weight: 400 !important;
  text-align: center;
}
.title-3 {
  color: #fff !important;
  font-family: Lato;
  font-size: 14px !important;
  font-weight: 400 !important;
  
}
.learn-more {
  border: 1px solid #ed1c24;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 14px 0 0;
  padding: 6px 0;
  text-transform: uppercase;
  width: 200px;
  transition: all 0.25s ease-in 0s;
}
.learn-more:hover {
  background: #c90d0b none repeat scroll 0 0 !important;
  border-color: #c90d0b !important;
  color: #fff !important;
}
.cb {
  background: #ed1c24 none repeat scroll 0 0;
  border: 1px solid #ed1c24;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 0;
  text-transform: uppercase;
  margin:14px 0 0;
  width:200px;
  transition: all 0.25s ease-in 0s;
}
.cb:hover{
  background:#C90D0B;
  color:#FFF;
  border-color:#C90D0B;
}
.main-navigation-ul > li.menu-item > a.menu-item-link {
  color: #ed1c24 !important;
}
#cmfooterm ul li a {
  color: #ed1c24 !important;
}
#cmfooterm ul li {
display: inline-block;
padding: 0 8px;
}
#text-3 {
  margin-bottom: 0 !important;
  margin-top: 16px;
}
.gs {
  color: #fff !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 400 !important;
  text-align: center;
  text-transform: uppercase;
  margin: 35px 0 0 0 !important;
  line-height:36px;
}
.gs-btn {
  background: #ed1c24 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-family: Lato;
  font-size: 15px;
  font-weight: 600;
  line-height: 36px;
  margin-left: 15px;
  text-align: center;
  width: 150px;
  transition: all 0.25s ease-in 0s;
}
.gs-btn:hover{
  background:#C90D0B;
  color:#FFF;
}
.steps {
  left: -36px;
  position: relative;
}
.steps ol li::before {
  background: #ED1C24 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  content: counter(count-me, decimal) "";
  font-weight: 600;
  height: 36px;
  left: -32px;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: -9px;
  width: 36px;
  z-index: 2;
}

.steps ol li {
  color: #000;
  counter-increment: count-me;
  font-size: 16px;
  font-weight: 300;
  margin-top: 85px;
  max-width: 350px;
  padding-left: 15px;
  position: relative;
}
.steps ol li:last-child{
   margin-bottom: 85px;
}
.t-title{
  color:#FFFFFF !important;
  font-weight:600;
  font-family:Lato;
  margin-top:50px;
}
.t-content{
  color:#FFFFFF !important;
  font-weight:400;
  font-family:Lato;
}
.t-content span {
  color: #ffffff !important;
  font-family: "Lucida Grande";
  font-size: 32px;
  font-weight: 600;
  margin: 10px;
  position: relative;
  top: 7px;
}
.contactpft {
float:right;
}
.contactpft h2{
  color: #000 !important;
font-size:60px;
}
.contactpft, p, strong {
  color: #000 !important;
}
.cntpi {
border-right:1px solid #979797;
}
.cntpirr {
float:right;
}
.firstname {
  float: left;
  width: 220px;
}
.lastname {
  margin-left: 10px;
  width: 220px;
}
.streetaddress {
  float: left;
  width: 220px;
}
.city {
  margin-left: 10px;
  width: 220px;
}
.state {
  float: left;
  width: 220px;
}
.zipcode {
  margin-left: 10px;
  width: 220px;
}
.emailaddress {
width: 450px !important;
}
.companyname {
width: 450px;
}
.phonenumber {
width: 450px;
}
.questionsorcomments {
  width: 450px !important;
}
.submitt {
  background: #ed1c24 none repeat scroll 0 0;
  border: 1px solid #ed1c24;
  color: #fff;
  margin-left: 120px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.25s ease-in 0s;
  width: 200px;
}
.submitt:hover {
  background: #ed1c24 none repeat scroll 0 0;
  border: 1px solid #ed1c24;
  color: #fff;
}
.username {
width: 450px;
}
@media only screen and (max-width:789px) {
.firstname {
  width: 100%;
}
.lastname {
  margin-left: 0px;
  width: 100%;
}
.emailaddress {
width: 100%;
}
.questionsorcomments {
  width: 100% !important;
}
.companyname {
width: 100%;
}
.phonenumber {
width: 100%;
}
.streetaddress {
  width: 100%;
}
.city {
  margin-left: 0px;
  width: 100%;
}
.state {
  width: 100%;
}
.zipcode {
  margin-left: 0px;
  width: 100%;
}
.submitt {
width: auto;
display: block;
 margin: 0 auto;
}
.zipcodez {
  float: none !important;
  width: 100% !important;
}
.gs {
  text-align: center !important;
}
.submittz {
  display: block;
  float: none !important;
  margin: 0 auto !important;
}
.learnmoreg {
  display: block;
  float: none !important;
  margin: 0 auto;
  width: 180px;
}
#cmfooterm ul {
  float: none !important;
  text-align: center !important;
}
.username {
width: 100%;
}
}
.steps strong {
  color: #ed1c24 !important;
  font-size:28px;
}
.homegetst h2{
  color: #fff !important;
}
.homegetst h3{
  color: #fff !important;
}
.homegetst a{
  color: #fff !important;
}
.homegetst p{
  color: #fff !important;
}
.iphoneimg img {
  height: 450px !important;
  width: 100%;
}
.zipcodez {
  display: block;
  float: left;
  margin-top: 25px;
  width: 250px;
}
.submittz {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #fff;
  float: left;
  left: 10px;
  margin-top: 24px;
}
.submittz:hover {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #ed1c24;
}
#mk-footer {
  background: transparent none repeat scroll 0 0 !important;
}
.learnmoreg {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.25s ease-in 0s;
  width: 180px;
float: left;
}
.learnmoreg:hover {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #ed1c24 !important;
}
#sub-footer {
  background-color: transparent !important;
}
#hometestm i {
color:#fff !important;
}
#hometestm a {
  border-color: #fff !important;
  color: #fff !important;
  opacity: 1;
}
.footersocial {
  margin-top:20px;
}

#mk-footer{
  border-top:1px solid #EEE;
}
.pmpro_thead-name, .pmpro_thead-msg {
  width: 50% !important;
  text-align:left !important;
}
.pmpro_thead-msg a{
  text-align:right !important;
}
.contactpft, p, strong {
  text-align: left;
}
thead th {
  background: #efefef none repeat scroll 0 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 1rem;
  text-align:left;
}
#pmpro_billing_address_fields div input, #pmpro_payment_information_fields div input {
  float: none !important;
  width: auto !important;
}
form.pmpro_form .input, form.pmpro_form textarea, form.pmpro_form select {
  border-radius: 3px;
  padding: 8px 10px !important;
}
#pmpro_billing_address_fields div select, #pmpro_payment_information_fields div select {
  border-radius: 3px !important;
  display: inline-block;
  overflow: hidden;
  width: auto !important;
}
#ExpirationMonth, #ExpirationYear {
  float: none !important;
  margin-right: 10px !important;
}
#ExpirationYear {
  margin-left: 10px !important;
}