/*
Theme Name: jupiter
Theme URI: http://themeforest.net/user/artbees
Author: Artbees
Author URI: http://themeforest.net/user/artbees
Version: 5.1.3
Description: A Beautiful, Professional and Ultimate Wordpress Theme Made by Artbees. Jupiter is a Clean, Flexible, fully responsive and retina ready Wordpress theme. Its smart and hand crafted environment allows you to Build outstanding websites easy and fast.
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/



/*

Main Stylesheet file is located at stylesheet/css/styles.css

*/
.mk-col-1-2, .mk-col-6-12 {
  width: auto;
}
.reg a{
 color:red;
}